{% extends 'layout.html' %}

{% block body %}
  


    <link rel="stylesheet" type="text/css" href="static/ContactUs.css">
    <body background="static/a1.jpg">
 
 <!--

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">MyHome</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="index.html">Home</a></li>
      </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href=""><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

-->

<!-- to make the web page like that of three coulmns -->
<div>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="#" alt="Teacher" style="width:100%">
      <div class="container">
        <h2>Nancy Mehta</h2>
        <p class="title">Mentor</p>
        <p>Electronics and Electrical Engineering</p>
        <p>nancy.xxxxxxxx@lpu.co.in</p>
        <p>xxxxxxxxxx</p>
      </div>
    </div>
  </div><br>

  <div class="column">
    <div class="card">
      <img src="static/rohitash.jpg" alt="Rohitash" style="width:100%">
      <div class="container">
        <h2>Rohitash Goyal</h2>
        <p class="title">Full Stack Web Developer</p>
        <p>Computer Science And Engineering</p>
        <p>rohitashgoyal28100@gmail.com</p>
        <p>9517907356</p>
        </div>
    </div>
  </div><br>
  <div class="column">
    <div class="card">
      <img src="#" alt="John" style="width:100%">
      <div class="container">
        <h2>Shivendra Singh</h2>
        <p class="title">developer</p>
        <p>Computer Science and Engineeing</p>
        <p>HustlersLPU@gmail.com</p>
        <p>xxxxxxxxxx</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
