{% extends 'layout.html' %}

{% block body %}


<!DOCTYPE html>
<html>
<head>
<title>Jalandhar homes</title>
<meta charset="UTF-8" lang="ENG">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/RSindex.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: Arial, Helvetica, sans-serif}
body {
    font-family: sans-serif;
}

</style>
</head>

<body background="static/a1.jpg">


<!-- content in the image and the image  -->
<div class="RScontainer">
  <img class="RSimage" src="static/jal1.jpg" style="min-width:1000px" width="1200" height="500">
  <div class="RSimagecenter">
  <h1><h1>Houses Available in Jalandhar</h1></h1> </div></div>
  
  <!-- Page content -->
<div class="RScontent" style="max-width:1532px;">

  <div class="RScontainer RSmargin-top" id="rooms" >
    <h2 style="color: white;"><u>A House That suits you the best in the city of the Jalandhar</u></h2>
    <p style="color: red;">Jalandhar despite of having a good distanceof almost 15KMsfrom the university is a good choice to go for.</p>
    <ul>Facilities at Jalandhar</ul>
    <li> AVailability of Interstate Byus Terminal in the city to get the buses easily for any Nearby city </li>
    <li>  Railway station at a walking distance form the Highway</li>
    <li> Availablity of good malls and the branded shops in the city </li>
    <li> Clean Parks and Lots of places for physicall fitness available</li>
  </div>


    <div class="RSrow-padding RSpadding-16">
    <div class="RSthird RSmargin-bottom">
      <img src="#" alt="room1" style="width:100%">
      <div class="RScontainer RSwhite">
        <h3>room name</h3>
        <h6 class="RSopacity"></h6>
        <p>Single bed</p>
        <p> DOuble Bed</p>
        <p>x metres from campus gate</p>
        <p class="RSlarge"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i></p>
       <a href="#"> <button class="RSbutton RSblock RSblack RSmargin-bottom">Get contact</button></a>
      </div>
    </div>
    <div class="RSthird RSmargin-bottom">
      <img src="#" alt="room2" style="width:100%">
      <div class="RScontainer RSwhite">
        <h3>Room name</h3>
        <h6> Single Bed</h6>
        <p>Double Bed</p>
        <p>x meters from the campus gate</p>
        <p class="RSlarge"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> <i class="fa fa-tv"></i></p>
        <a href="#"><button class="RSbutton RSblock RSblack RSmargin-bottom">Get contact</button></a>
      </div>
    </div>
    <div class="RSthird RSmargin-bottom">
      <img src="#" alt="room 3" style="width:100%">
      <div class="RScontainer RSwhite">
        <h3>Room name</h3>
        <h6>Single Bed</h6>
        <p>Double Bed </p>
        <p> X meter from campus gate</p>
        <p class="RSlarge"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> <i class="fa fa-tv"></i> <i class="fa fa-glass"></i> <i class="fa fa-cutlery"></i></p>
       <a href="#"> <button class="RSbutton RSblock RSblack RSmargin-bottom">Choose Room</button></a>
      </div>
    </div>
  </div>

     <div class="RSrow-padding" id="about">
    <div class="RScol l4 m7">
      <h3 style="color: white;">About</h3>
      <h6 style="color: white;">This a platform for the students and teachers to provide them with the best Paying Guest or room services at the minimum possible distance from the campus or as per their own convinience. the rooms listed here have been analysed by us before and we assure you the quality of the room.  </h6>
        </div>
     </div>
  
  <div class="RSrow RSlarge RScenter" style="margin:32px 0">
    <div class="RSthird" style="color: white;"><i class="fa fa-map-marker RStext-red"></i> BH-5 ,Lovely Professional University Punjab</div>
    <div class="RSthird" style="color: white;"><i class="fa fa-phone RStext-red"></i> Phone: +919517907356 / +919140876468</div>
    <div class="RSthird" style="color: white;"><i class="fa fa-envelope RStext-red"></i> Email: rohitashgoyal28100@gmail.com / shivendracool2012@gmail.com</div>
  </div>

  <div class="RSpanel RSleftbar RSpadding-32" style="color: white;">
    <h6><i class="fa fa-info RSdeep-orange RSpadding RSmargin-right"></i> On Demand we also arrange the Tiffin and Milk Facility for the students.
  </div>
<!-- End page content -->
</div>

<!-- Footer -->
<footer class="RSpadding-32 RSblack RScenter RSmargin-top">
  <h5>Find Us On</h5>
  <div class="RSxlarge RSpadding-16">
    <a href="https://www.facebook.com/"><i class="fa fa-facebook-official RShover-opacity"></i></a>
    <a href="https://www.instagram.com/"><i class="fa fa-instagram RShover-opacity"></i></a>
    <a href="https://www.snapchat.com/"><i class="fa fa-snapchat RShover-opacity"></i></a>
    <a href="https://in.pintrest.com/"><i class="fa fa-pinterest-p RShover-opacity"></i></a>
   <a href="https://twitter.com/Twitter?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"> <i class="fa fa-twitter RShover-opacity"></i></a>
    <a href="https://www.linkedin.com/feed/"><i class="fa fa-linkedin RShover-opacity"></i></a>
  </div>
  </footer>
<!-- Add Google Maps -->
</body>
</html>



{% endblock %}